<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Planetas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let planet of paginationPlanet?.items">
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ planet.name }}</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{ planet.description }}
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
  <!--
    Desativação do Infinite Scroll: O atributo [disabled] do componente ion-infinite-scroll é vinculado à flag hasMoreData. Quando hasMoreData for false, o Infinite Scroll é desativado.
   -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="onIonInfinite($event)" [disabled]="!hasMoreData" >
    <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Carregando dados...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>